{{ 'section-contact-main.css' | asset_url | stylesheet_tag }}
<section>
    <div class="container contact-height">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <h2 class="contact-title text-center">
                    Do you have questions?
                </h2>
                <p class="contact-description text-center">
                    Explore our <a href="#" class="contact-link" target="_blank">Help Center</a> for assistance.
                </p>
            </div>
        </div>
    </div>
</section>
{% schema %}
{
"name": "t:sections.contact-form.name",
"tag": "section",
"class": "section",
"settings": [
{
"type": "text",
"id": "contact-url",
"default": "https://help.reverse.health/en/",
"label": "Help center full URL"
}]
}
{% endschema %}
