{{ 'main-reviews.css' | asset_url | stylesheet_tag }}
<section id="reviews-section">
  <div class="container">
    <h2 class="title text-center">Reviews</h2>
    <script type="text/javascript"> (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0, e.src="//staticw2.yotpo.com/yjH1ued2tXcyfPboQI4F8pfXTDrX0483ALKaoqfF/widget.js";var t=document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e,t)})(); </script>
    <div id='yotpo-testimonials-custom-tab'></div>
  </div>
</section>