.benefits-banner-img {
  border-radius: 20px;
  max-width: 100%;
}

.benefits-banner-img.top {
  margin-bottom: 40px;
}

.benefits-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 10px;
}

.benefits-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 15px;
}

.benefits-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin: 0;
}

.benefits-icons {
  position: absolute;
  top: 20%;
  right: 0;
}

.benefits-icons.left {
  left: 0;
  right: unset;
}

.bg-gray {
  background: #FCFCFC;
  border-radius: 12px;
}

.button-top {
  max-width: 393px;
  height: 70px;
  width: 100%;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4F4B91;
  border: none;
  border-radius: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: normal;
  text-transform: uppercase;
  color: #FFFFFF;
}


.benefits-banner-img.bottom {
  margin-bottom: 70px;
}

.row-margin {
  margin-top: 40px;
}
.button-top:hover {
  color: white;
  background: #464284;
}

.benefits-photo {
  border-radius: 20px;
}

@media screen and (max-width:992px) {
  .row-margin {
    margin-top: 20px;
  }
  .benefits-banner-img {
    border-radius: 15px;
    height: 210px;
    object-fit: cover;
  }

  .benefits-banner-img.top {
    margin-bottom: 30px;
  }

  .benefits-subtitle {
    font-size: 20px;
  }

  .benefits-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .margin-top-30 {
    margin-top: 20px;
  }

  .benefits-text {
    font-size: 17px;
  }

  .bg-gray {
    border-radius: 8px;
  }

  .button-top {
    margin-bottom: 40px;
    max-width: 315px;
    height: 60px;
    border-radius: 12px;
    font-size: 17px;
  }

  .benefits-banner-img.bottom {
    margin-bottom: 40px;
  }

  .benefits-photo {
    max-width: 100%;
    max-height: 300px;
    border-radius: 15px;
  }
  /*.benefits-mobile-margin {*/
  /*  margin-top: 15px;*/
  /*}*/
  .benefits-mobile-padding {
    margin-top: 10px;
  }
  .benefits-mobile-padding-single {
    margin-top: 45px;
  }

}
@media screen and (min-width:992px) {
  .w-lg-100 {
    width: 100%;
  }
}
