.newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.newsletter-heading {
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

@media screen and (min-width: 750px) {
    .newsletter-form {
        align-items: flex-start;
        margin: 0 auto;
        max-width: 36rem;
    }

    .newsletter-heading {
        font-size: 28px;
    }
}

.newsletter-form__field-wrapper {
    width: 100%;
}

.newsletter-form__field-wrapper .field__input {
    padding-right: 5rem;
}

.newsletter-form__field-wrapper .field {
    z-index: 0;
}

.newsletter-form__message {
    justify-content: center;
    margin-bottom: 0;
}

.newsletter-form__message--success {
    margin-top: 2rem;
}

@media screen and (min-width: 750px) {
    .newsletter-form__message {
        justify-content: flex-start;
    }

    .newsletter-form__button {
        border-radius: 15px;
    }
}

.newsletter-form__button {
    border-radius: 12px;
    background-color: var(--primary-button-color);
    width: 3.5rem;
    margin: 0;
    right: 9px;
    top: 9px;
    height: 3.5rem;
    z-index: 2;
}

.newsletter-form__button:hover {
    background-color: var(--primary-button-hover-color);
}

.newsletter-form__button:focus-visible {
    box-shadow: 0 0 0 .3rem rgb(var(--color-background)), 0 0 0 .4rem rgba(var(--color-foreground));
}

.newsletter-form__button:focus {
    box-shadow: 0 0 0 .3rem rgb(var(--color-background)), 0 0 0 .4rem rgba(var(--color-foreground));
}


.newsletter-form__button .icon {
    width: 1.5rem;
}
