.hero-title span {
    background-color: #4F4B91;
    color: white;
    font-size: 30px !important;
    font-weight: 700;
    line-height: 150%;
    padding: 0 10px;
    -webkit-box-decoration-break: clone;
    -moz-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline;
}

.hero-title {
    margin-bottom: 20px;
}

.w-96 {
    width: 96%;
}

.hero-yummy.mobile {
    z-index: 1;
    position: absolute;
    top: 25px;
    left: 16px;
    display: block;
}

.hero-yummy.desktop {
    display: none;
}

.img-hero-mobile {
    width: 96% !important;
    height: auto !important;
    float: right;
    margin-top: 3.75rem;
}

.desk-hero-prod {
    width: auto;
    height: 460px;
    position: absolute;
    left: 350px;
    top: -21%;
    transform: translateX(-50%);
}

.hero-abs-pic {
    position: absolute;
    width: 50%;
    right: 0;
    height: 538px;

}


.mobile-carousel-parent {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 128px;
}

.btn-padding-mobile {
    padding-top: 34px;
    padding-bottom: 50px;
}

.position-unset {
    position: unset;
}

.mobile-carousel {
    position: absolute;
    width: 100%;
    left: 0;
    height: 128px;
}

.hero-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.02em;
    color: #1D2E42;
    margin: 0;
}

.button-top {
    width: 100%;
    padding: 18px 47px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-size: 1rem;
    background-color: #4F4B91;
    border-radius: 0.75rem;
}

.button-top:hover {
    background: #464284;
    color: white;
}

.btn-top {
    width: 100%;
    padding: 15px 0 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: white;
    line-height: 150%;
    font-size: 17px;
    background: #4F4B91;
    border-radius: 15px;
}

#hero-id .container {
    padding: 0 15px;
}

.btn-top:hover {
    background-color: #464284;
    color: white;
}

.icon-slider {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}

.slider-parent {
    position: relative;
    height: 220px;
    margin-top: 50px
}

.slider-parent:before {
    animation: slideShowHorizontal 3000s infinite;
    background: transparent url("slider-mobile.png") no-repeat 50%;
    background-repeat: repeat-x;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position-y: 100%;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.bg-blue {
    background: #12635F;
}

.icons-text {
    color: white;
    font-size: 17px;
    font-weight: 400;

}

.landing-hero-bg {
    background: #FFF3E5;
    overflow: hidden;
}

.hero-landing-text-block {
    z-index: 100;
    margin-top: 26px;
    margin-bottom: 0;
}

.z-100 {
    z-index: 100;
}

.landing-hero-custom {
    background: #FFFFFF;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 330px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 200px 0 0 200px;
    z-index: 50;
}

.landing-hero-feather-1 {
    position: absolute;
    left: 0;
    height: 100% !important;
    width: auto !important;
}

.landing-hero-feather-2 {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100% !important;
    height: auto !important;
}

.customNextBtnHero,
.customPrevBtnHero {
    font-size: 12px;
    border: none;
    background: transparent;
}

.css--prev-btn-hero {
    z-index: 1;
    position: absolute;
    display: flex;
    width: 30%;
    left: 0;
}

.css--next-btn-hero {
    z-index: 1;
    position: absolute;
    display: flex;
    width: 30%;
    right: 0;
}

#hero-slider .owl-dots {
    position: absolute;
    padding-top: 61px;
}

.hero-carouse-btn-parent {
    position: absolute;
    bottom: 24px;
}
@media screen and (max-width: 797px) {
    .bg-blue .container {
    }

    #hero-slider {
        margin: 0;
    }
}

@media screen and (max-width: 711px) {

}

@media screen and (max-width: 400px) {

}

#hero-slider img {
    /*filter: drop-shadow(0px 4px 4px rgb(0 0 0 / 0.15));*/
}

@media screen and (max-width: 992px) {
    #textCol {
        padding: 0 15px;
    }

    /*#reviews .container {*/
    /*    padding: 0px 0px 0px 30px;*/
    /*}*/
    .w-100-sm {
        width: 100%;
    }

    .hero-carousel-section {
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 992px) {
    .padding-square {
        padding-right: 10px;
    }

    .hero-yummy.desktop {
        display: block;
        position: absolute;
        left: -121px;
        bottom: 40px;
    }

    .hero-yummy.mobile {
        display: none;
    }

    .btn-padding-mobile {
        padding-top: 56px;
        padding-bottom: 0;
    }

    .hero-title span {
        font-size: 45px !important;
        line-height: 150%;
    }

    .hero-subtitle {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 170%;
        letter-spacing: 0.02em;
        color: #1D2E42;
        margin: 0;
    }

    .button-top {
        border-radius: 15px;
        font-size: 20px;
        padding: 20px 79px;
        width: auto;
    }

    .btn-top {
        font-size: 20px;
        padding: 20px 70px;
        width: auto;
    }

    .slider-parent:before {
        animation: slideShowVertical 1800s infinite;
        background: transparent url("slider-desktop.png") no-repeat 50%;
        background-repeat: repeat-y;
        background-size: 100% auto;
    }

    .slider-parent {
        position: relative;
        height: 575px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .icons-text {
        font-size: 20px;
        font-weight: 400;
    }

    .icon-slider {
        padding-top: 60px;
        padding-bottom: 60px;
    }


    .hero-landing-text-block {
        margin-top: 0;
        margin-bottom: 0;
    }

    #hero-slider img {
        /*filter: drop-shadow(0px 4px 4px rgb(0 0 0 / 0.15));*/
    }

}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1400px) {

}


@keyframes slideShowVertical {
    0% {
        background-position: 0 0;
    }

    to {
        background-position: 0 -10000%
    }
}

@keyframes slideShowHorizontal {
    0% {
        background-position: 0 0;
    }

    to {
        background-position: 10000% 0;
    }
}
