.delivery-bg {
    position: relative;
    overflow: visible;
    margin-bottom: 50px;
    min-height: 546px;
}

.delivery-bg-image-container {
/*    we need to make image centered and go overflow somehow*/
}

.delivery-bg-image {
    /*    we need to make image centered and go overflow somehow*/

}

.delivery-btn-padding {
    padding-top: 40px;
}
.delivery-landing-mt {
    margin-bottom: 20px;
}
.delivery-title {
    text-transform: uppercase;
    padding-bottom: 0;
    font-size: 18px;
    line-height: 31px;
    font-weight: 700;
    color: white;
}

.delivery-img {
    width: 50px;
    padding-top: 40px;
}

.delivery-title-sm {
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: white;
}

.delivery-text {
    font-size: 14px;
    line-height: 24px;
    color: white;
    padding-top: 1px;
}

@media screen and (max-width:991px) {
    .delivery-btn-padding a {
        width: 100%;
        max-width: 315px;
    }

    #section-delivery .container {
        padding: 0 30px;
        ;
    }
}


@media screen and (min-width: 992px) {
    .delivery-landing-mt {
        margin-bottom: 50px;
    }
    .delivery-bg {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .delivery-title {
        font-size: 24px;
        line-height: 41px;
        padding-bottom: 50px;
    }

    .delivery-img {
        width: 60px;
        padding-top: 0;

    }

    .delivery-title-sm {
        padding-top: 15px;
        font-size: 18px;
        line-height: 31px;
    }

    .delivery-text {
        font-size: 16px;
        line-height: 27px;
        padding-top: 7px;
    }
}
