.reviews-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0;
}

#reviews {
    overflow: hidden;
}

.reviews-bg {
    background: #12635F;
}

.reviews-card {
    background: #FFFFFF;
    /*box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);*/
    border-radius: 15px;
    padding: 35px 25px 25px 25px;
    position: relative;
}

.review-card-top {
    margin-left: 15px;
}

.review-card-stars {
    margin-top: 5px;
}

.review-card-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.review-card-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
}

.review-card-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

.review-card-text {
    color: #1D2E42;
    font-size: 14px;
    line-height: 24px;
}

.review-card-bottom {
    margin-top: 20px
}

.review-icons {
    margin-top: 30px;
    padding: 0 23px;
}

.review-icon {
    height: 60px;
}

.review-pb {
    padding-bottom: 50px;
}

.owl-stage {
    display: flex;
}

.owl-item {
    display: flex;
    flex: 1 0 auto;
}

.review-product-1 {
    position: absolute;
    z-index: 10;
    right: -22px;
    top: -17px;
    width: 150px !important;
}

.review-product-2 {
    position: absolute;
    z-index: 10;
    right: -21px;
    top: 3px;
    width: 150px !important;
}

#review-slider .owl-stage-outer {
    padding: 0;
}

.review-product-3 {
    position: absolute;
    z-index: 10;
    top: -9px;
    right: -14px;
    width: 150px !important;
}

@media screen and (max-width: 427px) {
    .review-product-1 {
        right: -25px;
        top: -16px;
        width: 109px !important;
    }

    .review-product-2 {
        right: -21px;
        top: -14px;
        width: 103px !important;
    }

    .review-product-3 {
        top: -19px;
        right: -30px;
        width: 129px !important;
    }
}

@media screen and (min-width: 992px) {
    .reviews-title {
        max-width: 527px;
        font-size: 24px;
        line-height: 41px;
        padding-top: 70px;
        padding-bottom: 64px;
        margin: 0;
    }

    .reviews-card {
        /*box-shadow: 0 6px 6px rgba(0, 0, 0, 0.06);*/
        border-radius: 18px;
        padding: 25px 20px 20px 20px;
    }

    .review-card-top {
        margin-left: 20px;
    }

    .review-card-stars {
        margin-top: 6px;
    }

    .review-card-img {
        width: 70px;
        height: 70px;
    }

    .review-card-name {
        font-size: 20px;
        line-height: 30px;
    }

    .review-card-title {
        font-size: 16px;
        line-height: 27px;
    }

    .review-card-text {
        font-size: 20px;
        line-height: 30px;
    }

    .review-card-bottom {
        margin-top: 21px;
    }

    .review-icons {
        margin-top: 52px;
        padding: 0 11px;
    }

    .review-icon {
        display: block;
        height: 80px;
    }

    .review-pb {
        padding-bottom: 70px;
    }

    .review-product-1 {
        right: -40px;
        top: -19px;
        width: 146px !important;
    }

    .review-product-2 {
        right: -30px;
        top: -5px;
        width: 157px !important;
    }

    .review-product-3 {
        top: -29px;
        right: -35px;
        width: 170px !important;
    }
}

.customNextBtnReview,
.customPrevBtnReview {
    display: inline;
    font-size: 12px;
    border: none;
    background: #FFFFFF;
    border-radius: 12px;
}

.owl-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 14px;
    margin-top: 40px;
}

.owl-prev,
.owl-next {
    display: inline;
    font-size: 12px;
    border: none;
    background: #FFFFFF;
    border-radius: 12px;
}

.owl-nav button {
    background: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-nav span {
    font-size: 48px;
    line-height: 0;
    margin-bottom: 6px;
}

.disabled span,
.disabled span {
    color: #FFFFFF;
}

button.owl-next.disabled,
button.owl-prev.disabled {
    border: 1px solid white !important;
    background: transparent !important;
    opacity: 1;
}

button.owl-next.disabled span,
button.owl-prev.disabled span {
    color: #FFFFFF;
}

button.owl-next:not(.disabled),
button.owl-prev:not(.disabled) {
    background: white !important;
}

.customNextBtnReview {
    padding: 11px 17px 11px 20px;
    margin-left: 7px;

}

.customPrevBtnReview {
    margin-right: 7px;
    padding: 11px 20px 11px 17px
}

.review-carousel-btns {
    padding-bottom: 40px;
}



@media screen and (min-width: 1200px) {
    .review-product-1 {
        right: -40px;
        top: -58px;
        width: 200px !important;
    }

    .review-product-2 {
        right: -58px;
        top: -52px;
        width: 200px !important;
    }

    .review-product-3 {
        top: -45px;
        right: -65px;
        width: 200px !important;
    }


}

@media screen and (min-width: 1400px) {
    .review-product-1 {
        width: auto !important;
        right: -99px;
        top: -106px;
    }

    .review-icons {
        position: relative;
        margin-top: 52px;
        padding: 0 25px;
    }

    .review-icons-after::after {
        content: '';
        position: absolute;
        top: 50%;
        bottom: 0;
        right: 0;
        width: 2px;
        background-color: rgba(255, 255, 255, 0.3);
        transform: translateY(-50%);
        height: 80%;
    }

    .review-icons:not(:last-child)::after {
        display: none; /* This hides the pseudo-element for the last child */
    }

    .review-product-2 {
        right: -49px;
        top: -83px;
        width: auto !important;

    }

    .review-product-3 {
        top: -97px;
        right: -62px;
        width: auto !important;

    }
}

.disabled-review {
    background: #F4ADBB;
}

.disabled-review path {
    fill: white;
}