.hero-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 10px;
}



.mobile-carousel-parent {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 128px;
}

.btn-padding-mobile {
    padding-top: 40px;
    padding-bottom: 50px;
}

.position-unset {
    position: unset;
}

.mobile-carousel {
    position: absolute;
    width: 100%;
    left: 0;
    height: 128px;
}

.hero-subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.02em;
    color: #505050;
    margin: 0;
}

.button-top {
    width: 100%;
    padding: 15px 0 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-size: 16px;
    background: linear-gradient(180deg, #FE7A88 0%, #EB657E 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.icon-slider {
    padding-top: 25px;
    padding-bottom: 25px;
}

.slider-parent {
    position: relative;
    height: 220px;
    margin-top: 50px
}

.slider-parent:before {
    animation: slideShowHorizontal 3000s infinite;
    background: transparent url("slider-mobile.png") no-repeat 50%;
    background-repeat: repeat-x;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position-y: 100%;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.bg-blue {
    background: #5E8BFF;
}

.icons-text {
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

}

.landing-hero-bg {
    background: #F3F3F3;
    overflow-x: hidden;
}

.hero-landing-text-block {
    z-index: 100;
    margin-top: 113px;
    margin-bottom: 113px;
}

.z-100 {
    z-index: 100;
}

.landing-hero-custom {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.05);
    left: 0;
    height: 47%;
    width: 100%;
    top: 41%;
    border-radius: 0 200px 200px 0;
    z-index: 50;
}

.landing-hero-feather-1 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.landing-hero-feather-2 {
    position: absolute;
    bottom: 0;
}
.customNextBtnHero,
.customPrevBtnHero {
    font-size: 12px;
    border: none;
    background: transparent;
}

.css--prev-btn-hero {
    z-index: 1;
    position: absolute;
    display: flex;
    width: 30%;
    left: 0;
}

.css--next-btn-hero {
    z-index: 1;
    position: absolute;
    display: flex;
    width: 30%;
    right: 0;
}
#hero-slider .owl-dots {
    position: absolute;
    padding-top: 61px;
}
.hero-carouse-btn-parent {
    position: absolute;
    bottom: 24px;
}

@media screen and (max-width: 797px) {
    .bg-blue .container {
    }

    #hero-slider {
        margin: 0;
    }
}

@media screen and (max-width: 711px) {
    .landing-hero-custom {
        width: 118%;
    }
}

@media screen and (max-width: 400px) {
    .landing-hero-custom {
        width: 133%;
    }
}

#hero-slider img {
    filter: drop-shadow(0px 4px 4px rgb(0 0 0 / 0.15));
}

@media screen and (max-width:992px) {
    #textCol {
        padding: 0 30px;
    }

    /*#reviews .container {*/
    /*    padding: 0px 0px 0px 30px;*/
    /*}*/
    .w-100-sm {
        width: 100%;
    }
    .hero-carousel-section {
        padding-bottom: 63px;
    }
}

@media screen and (min-width: 992px) {
    .padding-square {
        padding-right: 10px;
    }
    .btn-padding-mobile {
        padding-top: 51px;
        padding-bottom: 0;
    }

    .hero-title {
        font-size: 40px;
        line-height: 155%;

    }

    .hero-subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 170%;
        letter-spacing: 0.02em;
        color: #505050;
        margin: 0;
    }

    .button-top {
        font-size: 18px;
        padding: 16px 96px 16px 96px;
        width: auto;

    }

    .slider-parent:before {
        animation: slideShowVertical 1800s infinite;
        background: transparent url("slider-desktop.png") no-repeat 50%;
        background-repeat: repeat-y;
        background-size: 100% auto;
    }

    .slider-parent {
        position: relative;
        height: 575px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .icons-text {
        font-size: 16px;
        font-weight: 600;
    }

    .icon-slider {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .landing-hero-custom {
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.08);
        height: 96%;
        width: 50%;
        top: unset;
    }

    .hero-landing-text-block {
        margin-top: 0;
        margin-bottom: 0;
    }

    #hero-slider img {
        filter: drop-shadow(0px 4px 4px rgb(0 0 0 / 0.15));
    }

}

@media screen and (min-width: 1200px) {
    .landing-hero-custom {
        height: 80%;
        width: 50%;
    }
}

@media screen and (min-width: 1400px) {
    .landing-hero-custom {
        height: 69%;
        width: 50%;
    }
}


@keyframes slideShowVertical {
    0% {
        background-position: 0 0;
    }

    to {
        background-position: 0 -10000%
    }
}

@keyframes slideShowHorizontal {
    0% {
        background-position: 0 0;
    }

    to {
        background-position: 10000% 0;
    }
}
