#reviews-section {
  padding-top: 70px 0;

}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 170%;
  text-transform: uppercase;
  color: #505050;
  margin-bottom: 50px;
}

.yotpo-nav-primary ul li:first-child {
  display: none;
}

.content-title {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  text-transform: uppercase !important;
  color: #505050 !important;
}

.content-review {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 150% !important;
  color: #505050 !important;
}

.rest-content-collapsed {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 150% !important;
  color: #505050 !important;
}

@media screen and(max-width:797px) {
  .title {
    font-size: 18px;
    margin-bottom: 30px;
  }

  #reviews-section {
    padding-top: 40px 0;
  }
}