.product-link {
    display: none !important;
}

.link--text:hover,
.link--text:focus,
.link--text:active,
.header__heading-link:hover .h2 {
    color: white;
}

.header-color {
    background: #F1E4D4 !important;
    border: none;
}

input,
select {
    -webkit-appearance: none;
}

.header__heading-link .h2 {
    color: white;
}

.menu-drawer .list-social__link {
    background: white;
}

.menu-drawer__inner-container,
.menu-drawer__utility-links {
    background: #EF8498;
}

.dropdown-item {
    text-transform: uppercase !important;
    color: white;

}

.bg-announcement {
    background: #565656;
    padding-bottom: 0;
    border: none;
    backdrop-filter: blur(10px);
}

.nav-mobile-single-line {
    margin-top: 15px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-top: 1px solid #F0F0F0 !important;;
    border-bottom: 1px solid #F0F0F0 !important;

    width: 100% !important;
}

.nav-mobile-single-line div {
    padding: 0 !important;

}

.nav-mobile-double-line {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-bottom: 1px solid #F0F0F0 !important;
    width: 100% !important;
}

.nav-mobile-single-line-b {
    padding-top: 15px !important;
    width: 100% !important;
}

.nav-mobile-dropdown-single {
    border-top: 1px solid #FFFFFF;
    padding-top: 15px !important;
}

.nav-mobile-dropdown-single-padding {
    padding-bottom: 15px !important;
}

.nav-mobile-dropdown-single-first {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.announcement-msg {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: white;
    line-height: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-top: 11px;
    padding-bottom: 12px;
}

.navigation-cart-count {
    color: #EF8498;
    font-weight: 600;
    line-height: 18px;
    font-size: 12px;
    position: absolute;
    top: 50%;
}

.cart-icon-parent {
    position: relative;
}

.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #1D2E42;
    text-decoration: none;
}

.navigation-link:hover {
    color: #1D2E42;
}

.navigation-dropdown {
    border: none;
}

.shop-title-logo {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    text-transform: uppercase;
}

.dropdown-menu {
    border-radius: 6px;
    border: none;
    background: #EF8498;
}


.dropdown-toggle {
    background: transparent;
    border: none;
}

.dropdown-toggle:hover {
    background: transparent;
    border: none;
    color: #1D2E42;
}

.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
    background: transparent;
    border: none;
    color: #1D2E42;
}

.section-header {
    z-index: 1000 !important;
}

.dropdown-toggle::after {
    border: none;
    content: "\276F";
    font-weight: 400;
    vertical-align: 0;
    transform: rotate(90deg);
}

.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(270deg);
}

.header__icon--menu span {
    justify-content: start;
}

.mobile-nav-dropdown {
    transform: unset !important;

}

.mobile-full-dropdown {
    border-radius: 6px;
    border-top: none !important;
    border-bottom: none !important;
    background: #EF8498;
    margin: 15px 0 0 0 !important;
    padding: 0 15px 0 15px;

}

#menu-drawer {
    backdrop-filter: blur(10px);
}

.mobile-nav-el-padding {
    margin: 0 15px 0 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.mobile-dropdown-toggle {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    -webkit-appearance: none;
}

.mobile-nav-dropdown {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.mobile-nav-dropdown a {
    padding-left: 10px !important;
}

.menu-drawer__navigation {
    padding: 127px 15px 0 15px;
}

.header__icon--menu[aria-expanded="true"]::after {
    content: url("close-menu.svg");
    top: 40px;
}

.header__icon--cart img {
    max-height: 45px;
}


.css--country-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(48, 48, 48, 0.75);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.css--country-modal .block {
    max-width: 517px;
    width: 100%;
    margin: 0 30px 0 30px;
}

.css--country-modal .country-modal {
    background: white;
    border-radius: 12px;
    margin-top: 40px;
    padding: 50px 54px 50px 54px;
}

.css--country-modal .country-modal-title {
    color: #505050;
    font-size: 22px;
    line-height: 37px;
    font-weight: 700;
    padding-bottom: 15px;
    text-align: center;
}

.css--country-modal .close {
    height: 30px;
    display: flex;
    justify-content: end;
    background: transparent;
}

.css--country-modal-close img {
    width: 30px;
    height: 30px;
}

.css--country-modal .modal-country-selector {
    background: #F0F0F0;
    border-radius: 8px;
    margin-top: 20px;
    padding: 15px 30px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.css--country-modal .modal-country-selector img {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.css--country-modal .modal-country-selector {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #505050;
}


.navigation-desktop-country-cart {
    justify-self: end;
    display: flex;
    align-items: center;
}

.navigation-dropdown-desktop {
    background: white;
    padding: 14px 20px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    display: flex;
}

.navigation-dropdown-desktop .nav-country-selector-div {
    padding-right: 37px;
}

.navigation-dropdown-desktop .nav-country-selector-single-selected {
    text-align: left;
}
.dropdown-country-mobile {
    position: relative !important;
    transform: unset !important;
}

.shopify-cleanslate .paypalLight {
    width: 440px !IMPORTANT;
    max-width: none;
}
@media screen and (max-width: 749.9px) {
    .shopify-cleanslate .paypalLight {
        width: 100% !IMPORTANT;
    }
}



.dropdown-mobile {
    padding: 0 30px 40px 30px;
}

.dropdown-mobile .nav-country-selector-div {
    width: 100%;
}

.dropdown-mobile .navigation-dropdown-desktop {
    width: 100%;
}


.navigation-dropdown-desktop:hover, .navigation-dropdown-desktop:focus, .navigation-dropdown-desktop:active {
    background: white;
    border: 1px solid #CCCCCC;
    outline: none !important;
    box-shadow: none !important;
}

.navigation-dropdown-desktop::after {
    border: none;
    content: "\276F";
    color: #505050;
    font-weight: 400;
    vertical-align: 0;
    transform: rotate(90deg);
}

.navigation-dropdown-desktop[aria-expanded="true"]::after {
    transform: rotate(270deg);
}

.nav-country-selector-single {
    padding: 10px 28px 10px 20px;
    font-size: 14px;
}

.nav-country-selector-single a, .nav-country-selector-single a:hover, .nav-country-selector-single a:focus {
    text-decoration: none;
    color: #505050;
    font-weight: 500;
}

.dropdown-country-desktop {
    background: white !important;
    border: 1px solid #CCCCCC;
    min-width: auto !important;
    margin-top: -10px !important;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none !important;
    padding-top: 4px;
}

@media screen and (max-width: 1383px) {
    .dropdown-desktop {
        display: none;
    }
}


@media screen and (max-width: 992px) {
    .css--country-modal .close {
        height: 14px;
    }

    .css--country-modal-close img {
        width: 14px;
        height: 14px;
    }

    .css--country-modal .country-modal {
        border-radius: 8px;
        margin-top: 25px;
        padding: 35px 20px 35px 20px;
    }

    .css--country-modal .modal-country-selector img {
        width: 28px;
        height: 28px;
        left: 20px;
    }

    .css--country-modal .country-modal-title {
        font-size: 16px;
        line-height: 27px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    .css--country-modal .modal-country-selector {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        color: #505050;
    }
}

@media screen and (max-width: 1383px) {
    .header__icon--cart img {
        max-height: 35px;
    }

    header.header {
        padding-top: 0;
        padding-bottom: 0;
    }

    header-drawer {
        margin-left: 0 !important;
    }

    .header__icon--menu {
        display: flex;
        align-items: center;
        justify-content: start;
        height: 60px;
    }
}


@media screen and (min-width: 1384px) {
    .announcement-msg {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 17px;
        padding-top: 16px;
        padding-bottom: 17px;
    }

    .header__heading-link {
        padding: 0;
        margin-left: 0;
    }

    .navigation-cart-count {
        line-height: 18px;
        font-size: 12px;
    }

    .navigation-link {
        margin-right: 55px;
    }

    .header--middle-left {
        column-gap: 5.625rem;
    }

    .shop-title-logo {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: white !important;
    }

    .dropdown-toggle {
        padding: 0;
    }

    .dropdown-menu {
        background: #EF8498;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    }

    .dropdown-menu {
        min-width: 240px;
    }

    .dropdown-item {
        padding: 15px 0 15px 15px;
        font-size: 13px;
        text-transform: uppercase;

    }

    .dropdown-menu li {
        padding: 0 15px;
    }

    .dropdown-item:hover {
        background: #F3F8FF;
        border-radius: 4px;
        font-weight: 500;
    }

    .dropdown-item:active,
    .dropdown-item:focus {
        background: none;
        color: white;
    }

    .dropdown-menu li:not(:last-of-type) a {
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.07);
    }
}

@media screen and (max-width: 1170px) and (min-width: 992px) {
    .header--middle-left {
        column-gap: 0.625rem;
    }
}
