.bg-announcement {
    background: #565656;
    padding-bottom: 0;
    border: none;
    backdrop-filter: blur(10px);
}
.nav-mobile-single-line {
    margin-top:15px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-top:1px solid #F0F0F0 !important;;
    border-bottom:1px solid #F0F0F0 !important;

    width: 100% !important;
}
.nav-mobile-single-line div {
    padding: 0 !important;

}
.nav-mobile-double-line {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-bottom:1px solid #F0F0F0 !important;
    width: 100% !important;
}

.nav-mobile-single-line-b {
    padding-top: 15px !important;
    width: 100% !important;
}
.nav-mobile-dropdown-single {
    border-top: 1px solid #FFFFFF;
    padding-top:15px !important;
}
.nav-mobile-dropdown-single-padding {
    padding-bottom:15px !important;
}
.nav-mobile-dropdown-single-first {
    padding-top:15px !important;
    padding-bottom:15px !important;
}
.announcement-msg {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: white;
    line-height: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-top: 11px;
    padding-bottom: 12px;
}

.navigation-cart-count {
    color: white;
    font-weight: 600;
    line-height: 18px;
    font-size: 12px;
    position: absolute;
    top: 50%;
}

.cart-icon-parent {
    position: relative;
}

.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #505050;
    text-decoration: none;
}

.navigation-dropdown {
    border: none;
}

.shop-title-logo {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    text-transform: uppercase;
}

.dropdown-menu {
    border-radius: 6px;
    border: none;
    background: #F3F8FF;
}



.dropdown-toggle {
    background: transparent;
    border: none;
}

.dropdown-toggle:hover {
    background: transparent;
    border: none;
    color: #505050;
}

.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
    background: transparent;
    border: none;
    color: #505050;
}

.section-header {
    z-index: 1000 !important;
}

.dropdown-toggle::after {
    border: none;
    content: "\276F";
    font-weight: 400;
    vertical-align: 0;
    transform: rotate(90deg);

}

.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(270deg);
}

.header__icon--menu span {
    justify-content: start;
}
.mobile-nav-dropdown {
    transform: unset !important;

}
.mobile-full-dropdown {
    border-radius: 6px;
    border-top: none !important;
    border-bottom: none !important;
    background: #F3F8FF;
    margin:  15px 0 0 0 !important;
    padding: 0 15px 0 15px;

}
#menu-drawer {
    backdrop-filter: blur(10px);
}
.mobile-nav-el-padding {
    margin: 0 15px 0 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
.mobile-dropdown-toggle {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
.mobile-nav-dropdown {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
.mobile-nav-dropdown a{
    padding-left: 10px !important;
}

.menu-drawer__navigation {
    padding: 127px 15px 0 15px;
}
.header__icon--menu[aria-expanded="true"]::after {
    content: url("close-menu.svg");
    top: 40px;
}
@media screen and (max-width:992px) {
    header.header {
        padding-top: 0;
        padding-bottom: 0;
    }
    header-drawer {
        margin-left: 0 !important;
    }

    .header__icon--menu {
        display: flex;
        align-items: center;
        justify-content: start;
        height: 60px;
    }
}



@media screen and (min-width: 992px) {
    .announcement-msg {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 17px;
        padding-top: 16px;
        padding-bottom: 17px;
    }

    .header__heading-link {
        padding: 0;
        margin-left: 0;
    }

    .navigation-cart-count {
        line-height: 18px;
        font-size: 12px;
    }

    .navigation-link {
        margin-right: 55px;
    }

    .header--middle-left {
        column-gap: 5.625rem;
    }

    .shop-title-logo {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #505050;
    }

    .dropdown-toggle {
        padding: 0;
    }

    .dropdown-menu {
        background: #FFFFFF;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    }

    .dropdown-menu {
        min-width: 240px;
    }

    .dropdown-item {
        padding: 15px 0 15px 15px;
        font-size: 12px;
    }

    .dropdown-menu li {
        padding: 0 15px;
    }

    .dropdown-item:hover {
        background: #F3F8FF;
        border-radius: 4px;
        font-weight: 500;
    }

    .dropdown-item:active,
    .dropdown-item:focus {
        background: none;
        color: #212529;
    }

    .dropdown-menu li:not(:last-of-type) a {
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.07);
    }
}

@media screen and (max-width:1170px) and (min-width:992px) {
    .header--middle-left {
        column-gap: 0.625rem;
    }
}
