.contact-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  color: #505050;
  margin-bottom: 30px;
}

footer {
  display: none;
}

.contact-description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #505050;
  margin-bottom: 80px;
}

.container span {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #505050;
  line-height: 30px;

}

.contact-link {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #65d36e;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width:992px) {
  .contact-title {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;

  }

  .contact-description {
    font-size: 16px;
    line-height: 27px;
  }

  span,
  .contact-link {
    font-size: 16px;
    line-height: 27px;
  }
}