.need-title, .approach-title {
    font-size:24px;
    line-height: 150%;
    font-weight: 600;
    margin-bottom: 0;
}
.need-title {
    margin-top:20px

}
.approach-title {
    text-align: center;
    margin-top:20px

}
.need-text, .approach-text {
    font-size: 17px;
    line-height: 150%;
    margin-top:10px;
    margin-bottom: 0;
    letter-spacing: normal;

}
.approach-photo {
    border-radius: 8px;
    height: 210px;
    margin-top:27px

}
.approach-circle {
    height: 259px;
    margin-top:25px;
    max-width: 100vw;

}
.button-top {
    height: 60px;
    width: 100%;
    padding: 15px 0 15px 0;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    font-size: 1.063rem;
    background: #4F4B91;
    border-radius: 12px;
}
.button-top:hover {
    background: #464284;
}
.delivery-btn-padding {
    padding-top: 30px;
    padding-bottom:40px;
}
@media screen and (max-width: 419px) {
    .approach-circle, .approach-photo {
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 992px) {
    .need-title, .approach-title {
        font-size:28px;
        line-height: 150%;
    }
    .need-text, .approach-text {
        margin-top:20px;
        font-size: 20px;
        line-height: 150%;
    }
    .approach-photo {
        border-radius: 12px;
        height: 14.688rem;
        width: 100%;
        object-fit: cover;
        margin-top:70px
    }
    .approach-circle {
        height: 405px;
        margin-top:27px;
        max-width: 36.25rem;
        object-fit: contain;
    }
    .need-title {
        margin-top:70px

    }
    .approach-title {
        text-align: left;
        margin-top:70px
    }
    .button-top {
        height: 70px;
        font-size: 1.25rem;
        padding: 16px 96px 16px 96px;
        width: auto;
    }
    .delivery-btn-padding {
        padding-top: 40px;
        padding-bottom:70px;
    }
}
