.product-flavor {
    font-size: 1.188rem;
    line-height: 1.781rem;
    font-weight: 400;
}

.magnify {
    border-radius: 50%;
    position: absolute;
    z-index: 20;
    background-repeat: no-repeat;
    background-color: white;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .5);
    display: none;
    cursor: none;
}

#summary div.collapse:not(.show) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 14;
    -webkit-box-orient: vertical;
}

#summary #collapseButton {
    display: none;
    color: var(--primary-button-color);
    font-weight: 600;
    text-decoration: none;
}

button.disabled {
    opacity: 0.5;
}

.picky-combo-container {
    display: none !important;
}

.product-title {
    font-size: 1.938rem;
    line-height: 2.906rem;
    font-weight: 600;
    margin-top: 10px;
}

.product-img {
    margin-top: 10px;
}

.product-img img {
    max-width: 263px;
}

.product-header-block {
    margin-top: 40px;
}

.product-icon {
    width: 55px;
    margin-top: 10px;
}

.icon-vegan {
    margin-right: 12px;
}

.product-description {
    letter-spacing: normal;
    margin-top: 30px;
}

.product-description p {
    margin-bottom: 0;
    font-size: 1.063rem;
    line-height: 150%;
}

.bulletpoint-text {
    margin-top: 15px;
    font-size: 1.063rem;
    display: flex;
    align-items: center;
    line-height: normal;
}

.single-bulletpoint {
    width: 19px;
    margin-right: 10px;
}

.bulletpoint-text span {
    padding-top: 3px;
    line-height: normal;
}

.single-hero-mb {
    margin-bottom: 35px;
}

.owl-item {
    display: flex;
    justify-content: center;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-dots button.owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    display: inline-block;
    background: #F0F0F0;
    border: 1px solid #F0F0F0;
    margin: 0 10px;
}

.owl-dots button.owl-dot.active {
    background-color: #4F4B91;
    border-color: #4F4B91;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.customNextBtnSingle,
.customPrevBtnSingle {
    font-size: 12px;
    border: none;
    background: transparent;
}

.css--prev-btn-single {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 30%;
    left: 0;
}

.css--next-btn-single {
    z-index: 1;
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    right: 0;
}

div.yotpo {
    padding-top: 0;
}

.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star {
    font-size: 18px;
}

.yotpo .text-m {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    text-decoration: underline !important;
    color: #505050;
    margin-left: 15px;
}

.yotpo-bottomline.pull-left.star-clickable {
    justify-content: center;
    align-items: center;
    float: none;
}

.bundle-heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 25px;
}

.badge-container img {
    width: 68px;
}

.selected-opcija {
    border: 0.094rem solid #4F4B91 !important;
    background: #F6F8FE !important;
}

/*.add-to-cart-card {*/
/*    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);*/
/*}*/

.add-to-cart-card {
    border: 2px solid #C6CDE4;
    box-sizing: border-box;
    border-radius: 15px;
    height: 176px;
    position: relative;
}

.add-to-cart-card.padding-top-30-card {
    height: 186px;
}

.card-content {
    padding: 20px 20px 15px 20px;
}

.card-content.padding-top-30 {
    padding-top: 30px;
}

.best-value p {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: normal;
    color: #FFFFFF;
    padding: 11px 0px 11px 15px;
    margin: 0;
}

.best-value span {
    color: #FFF;
    font-size: 10px;
}

.best-value {
    width: 153px;
    background: #12635F;
    /*box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);*/
    clip-path: polygon(100% 0%, 92% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    position: absolute;
    text-transform: capitalize;
    top: -18px;
    left: -12px;
    display: flex;
    align-items: center;
    border-radius: 9px 0 0 0;
}

/*.opcijas .col-12:nth-of-type(2) .add-to-cart-card::after {*/
/*    content: "";*/
/*    display: block;*/
/*    width: 11px;*/
/*    height: 9px;*/
/*    background: #3B8581;*/
/*    !* transform: rotate(141.09deg); *!*/
/*    position: absolute;*/
/*    left: -12px;*/
/*    top: 16px;*/
/*    clip-path: polygon(0 0, 100% 0, 100% 100%);*/
/*}*/

.card-quantity {
    font-style: normal;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 150%;
    color: #1D2E42;
    margin-top: 8px;
    margin-bottom: 0;
    float: right;
}

.card-ppp {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #1D2E42;
    margin-bottom: 5px;
}

.card-ppp span {
    font-style: normal;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 150%;
    color: #1D2E42;
    text-decoration: none;
}

.card-ppp .money {
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
}

.card-total {
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: normal;
    color: #445764;
    margin: 0;
}

.btn-add-to-cart {
    height: 60px;
    margin-bottom: 15px;
    background: var(--primary-button-color, #FF6F61);
    border-radius: 0.75rem;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    padding: 17px 0;
}

.btn-add-to-cart:hover {
    color: #FFFFFF;
    background: var(--primary-button-hover-color, #ff5b4d);
}

.add-to-cart-card form {
    padding: 0px 20px;
    display: block !important;
}

.card-content {
    justify-content: space-between;
    align-items: center;
}

.best-value-image {
    position: absolute;
    height: 56px;
    top: -18px;
    left: -15px;
}

.best-value-text {
    position: absolute;
    top: -15px;
    left: 4px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    color: #FFFFFF !important;
    padding: 11px 0px 11px 0px;
    margin: 0;
}

.min-w-470 {
    min-height: 302px;
}

.best-value-text span {
    color: #FFF;
}

.container {
    overflow: hidden;
    padding: 0 15px;
}

@media screen and (min-width: 1240px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.opcijas {
    margin-bottom: 40px;
}


@media screen and (min-width: 992px) {
    #summary div.collapse:not(.show) {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }

    #summary #collapseButton {
        display: none;
        color: var(--primary-button-color);
        font-weight: 600;
        text-decoration: none;
    }

    .card-content.padding-top-30 {
        padding-top: 32px;
    }

    #single-product-carousel .owl-stage {
        display: flex;
    }

    .hero-head {
        gap: 30px;
    }

    .min-w-470 {
        min-width: 470px;
    }

    #single-product-carousel .owl-stage .owl-item img {
        width: auto;
        height: 390px;
        object-position: center;
        object-fit: contain;
    }

    .opcijas {
        margin-bottom: 70px;
    }

    .best-value-image {
        position: absolute;
        top: -15px;
        left: -17px;
        height: 60px;
    }

    .best-value-text {
        top: -17px;
        left: 5px;
        font-size: 14px;
        line-height: normal;
        padding: 17px 0px 17px 0px;
        margin: 0;
    }

    .card-ppp .money {
        font-size: 22px;
        line-height: normal;
    }

    .product-flavor {
        font-size: 1.375rem;
        line-height: 2.063rem;
    }


    .product-title {
        font-size: 2.813rem;
        line-height: 4.219rem;
        font-weight: 600;
    }

    .card-content {
        justify-content: unset;
        align-items: unset;
    }

    .product-img {
        margin-top: 67px;
    }

    .product-img img {
        max-width: 390px;
    }

    #single-product-carousel {
        max-width: 470px;
        max-height: 417px;
    }

    .product-header-block {
        margin-top: 70px;
    }

    .product-icon {
        width: 60px;
        margin-top: 0;

    }

    .icon-vegan {
        margin-right: 20px;
    }

    .product-description {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .product-description p {
        font-size: 1.25rem;
        line-height: 150%;
    }

    .bulletpoint-text {
        margin-top: 20px;
        font-size: 1.125rem;
    }

    .single-bulletpoint {
        width: 1.5rem;
        margin-right: 0.938rem;
    }

    .single-hero-mb {
        margin-bottom: 40px;
    }

    /*div.yotpo {*/
    /*    padding-top: 12px;*/
    /*}*/
    .yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star {
        font-size: 22px;
    }

    .yotpo-bottomline.pull-left.star-clickable {
        align-items: center;
        float: left;
    }

    .yotpo .text-m {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        text-decoration: underline !important;
        color: #505050;
        margin-left: 15px;
    }

    .bundle-heading {
        font-style: normal;
        font-size: 1.75rem;
        line-height: 150%;
        color: #1D2E42;
        margin-top: 2.188rem;
        margin-bottom: 2.563rem;
        text-align: left;
    }

    .selected-opcija {
        border: 2px solid #4F4B91 !important;
        background: #F6F8FE !important;
    }

    /* .add-to-cart-card {*/
    /*    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);*/
    /*}*/
    .add-to-cart-card {
        width: 230px;
        height: 230px;
        border: 2px solid #C6CDE4;
        box-sizing: border-box;
        border-radius: 20px;
        position: relative;
    }

    .add-to-cart-card.padding-top-30-card {
        height: 230px;
    }

    .badge-container img {
        width: 68px;
    }

    .card-content {
        padding: 32px 9px 15px 20px;
    }


    .best-value p {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        color: #FFFFFF;
        margin: 0;
        padding: 11px 0px 11px 20px;
    }

    .best-value span {
        color: #FFF;
        font-size: 15px;
    }

    .best-value {
        width: 200px;
        background: #12635F;
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
        clip-path: polygon(100% 0%, 92% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
        position: absolute;
        top: -15px;
        left: -17px;
        display: flex;
        align-items: center;
        border-radius: 12px 0 0 0;
    }

    /*.opcijas .col-12:nth-of-type(2) .add-to-cart-card::after {*/
    /*    content: "";*/
    /*    display: block;*/
    /*    width: 16px;*/
    /*    height: 15px;*/
    /*    background: #3B8581;*/
    /*    !* transform: rotate(141.09deg); *!*/
    /*    position: absolute;*/
    /*    left: -17px;*/
    /*    top: 29px;*/
    /*    clip-path: polygon(0 0, 100% 0, 100% 100%);*/
    /*}*/
    .container {
        max-width: 1240px;
    }

    .card-quantity {
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 150%;
        color: #1D2E42;
        margin-bottom: 4px;
        float: unset;
    }

    .card-ppp {
        height: 33px;
        font-style: normal;
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 100%;
        color: #1D2E42;
        text-decoration: none;
    }

    .card-ppp span {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #1D2E42;
        text-decoration: none;
        vertical-align: 20%;
    }

    .card-total {
        height: 23px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        color: #445764;
        margin: 0;
    }

    .add-to-cart-card form {
        padding: 0px 20px;
    }

    .btn-add-to-cart {
        margin-bottom: 20px;
        border-radius: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 1.063rem;
        line-height: normal;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 100%;
        padding: 17px 0;
    }

    .btn-add-to-cart:hover {
        color: #FFFFFF;
    }
}

.terms-and-conditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    text-align: start;
    gap: 15px;
    width: 100%;
}

.terms-and-conditions h2 {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0.5rem;
}

.terms-and-conditions p {
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.terms-and-conditions .stock-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.terms-and-conditions .stock-checkbox label {
    font-size: 16px;
}

.terms-and-conditions input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    border: 2px solid #757575;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.terms-and-conditions input[type="checkbox"]:checked:before {
    content: '✔';
    font-size: 18px;
    color: var(--primary-button-color);
    line-height: 24px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.terms-and-conditions a {
    color: var(--primary-button-color);
    text-decoration: none;
    font-weight: 600;
}

#waiting-listed {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

    h2 {
        font-family: 'Jost', sans-serif;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 18px;
        margin-bottom: 0.5rem;
    }
}

