.how-bg {
   padding-top: 50px;
   padding-bottom: 50px;
    position: relative;
}

.how-svg {
    position: absolute;
    width: 100%;
    padding: 0 2.875rem 0 4.375rem;
    z-index: 1;
}

.max-w-30 {
    max-width: 30%;
}

.max-w-80 {
    max-width: 80%;
}

.how-title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 30%;
    font-size:18px;
    line-height: 31px;
    font-weight: 700;
    margin-bottom: 0;
    color: white;
    padding-bottom: 25px;
}
.how-subtitle {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin-top: 5px;
}
.how-text {
    color: white;
    font-size: 14px;
    line-height: 24px;
    margin-top: 1px;
}
.how-icon {
    width: 110px;
    z-index: 2;
}
@media screen and (min-width: 992px) {
    .how-bg {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .how-svg {
        top: 4.188rem;
        width: 100%;
    }
    .how-title {
        font-size:24px;
        line-height: 41px;
        padding-bottom: 63px;
    }
    .how-subtitle {
        font-size: 18px;
        line-height: 27px;
        margin-top: 7px;

    }
    .how-text {
        font-size: 16px;
        line-height: 27px;
        margin-top: 7px;
    }
    .how-icon {
        width: 160px;
    }
}
