.product-flavor {
    font-size: 1.188rem;
    line-height: 1.781rem;
    font-weight: 400;
}


button.disabled {
    opacity: 0.5;
}
.picky-combo-container {
    display: none !important;
}
.product-title {
    font-size: 1.938rem;
    line-height: 2.906rem;
    font-weight: 600;
    margin-top: 10px;
}

.product-img {
    margin-top: 10px;
}

.product-img img {
    width: 260px;
}

.product-header-block {
    margin-top: 40px;
}

.product-icon {
    width: 50px;
    margin-top: 20px;
}

.icon-vegan {
    margin-right: 12px;
}

.product-description {
    margin-top: 26px;
    margin-bottom: 5px;
}

.product-description p {
    margin-bottom: 0;
    font-size: 1.063rem;
    line-height: 150%;

}

.bulletpoint-text {
    margin-top: 15px;
    font-size: 1.063rem;
    line-height: 150%;
}

.single-bulletpoint {
    width: 16px;
    margin-right: 12px;
}

.single-hero-mb {
    margin-bottom: 35px;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: inline-block;
    background: #F0F0F0;
    border: 1px solid #F0F0F0;
    margin: 0 10px;
}

.owl-dots button.owl-dot.active {
    background-color: #4F4B91;
    border-color: #4F4B91;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.customNextBtnSingle,
.customPrevBtnSingle {
    font-size: 12px;
    border: none;
    background: transparent;
}

.css--prev-btn-single {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 30%;
    left: 0;
}

.css--next-btn-single {
    z-index: 1;
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    right: 0;
}

div.yotpo {
    padding-top: 16px;
}

.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star {
    font-size: 18px;
}

.yotpo .text-m {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    text-decoration: underline !important;
    color: #505050;
    margin-left: 15px;
}

.yotpo-bottomline.pull-left.star-clickable {
    justify-content: center;
    align-items: center;
    float: none;
}

.bundle-heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.875rem;
    margin-bottom: 2.25rem;
}

.badge-container img {
    width: 68px;
}

.selected-opcija {
    border: 0.094rem  solid #4F4B91 !important;
    background: #F6F8FE !important;
}

/*.add-to-cart-card {*/
/*    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);*/
/*}*/

.add-to-cart-card {
    border: 2px solid #C6CDE4;
    box-sizing: border-box;
    border-radius: 15px;
    height: 100%;
    position: relative;
}

.card-content {
    padding: 30px 20px 20px 20px;
}

.best-value p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.938rem;
    line-height: 150%;
    color: #FFFFFF;
    padding: 7px 22px 8px 20px;
    margin: 0;
}

.best-value {
    background: #12635F;
    /*box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);*/
    clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    position: absolute;
    text-transform: capitalize;
    top: -18px;
    left: -11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 0;
}

.opcijas .col-12:first-of-type .add-to-cart-card::after {
    content: "";
    display: block;
    width: 11px;
    height: 9px;
    background: #3B8581;
    /* transform: rotate(141.09deg); */
    position: absolute;
    left: -11px;
    top: 17px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.card-quantity {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 150%;
    color: #1D2E42;
    margin-top: 8px;
    float: right;
}

.card-ppp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #1D2E42;
    margin-bottom: 5px;
}

.card-ppp span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 150%;
    color: #1D2E42;
    text-decoration: none;
}

.card-ppp .money {
    font-size: 1.5rem;
    font-weight: 700;
}

.card-total {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 150%;
    color: #445764;
    margin: 0;
}

.btn-add-to-cart {
    margin-bottom: 25px;
    background: #4F4B91;
    border-radius: 0.75rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    padding: 17px 0;
}

.btn-add-to-cart:hover {
    color: #FFFFFF;
    transform: scale(1.05);
}

.add-to-cart-card form {
    padding: 0px 20px;
    display: block !important;
}

.opcijas .col-12:not(:last-of-type) {
    margin-bottom: 20px;
}

.opcijas .col-12:last-of-type {
    margin-bottom: 50px;
}

.card-content {
    justify-content: space-between;
    align-items: center;
}

.container {
    overflow: hidden;
    padding: 0 15px;
}

@media screen and (min-width: 1240px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 992px) {
    .product-flavor {
        font-size: 1.375rem;
        line-height: 2.063rem;
    }

    .opcijas .col-12 {
        margin-bottom: 70px !important;
    }

    .product-title {
        font-size: 2.813rem;
        line-height: 4.219rem;
        font-weight: 600;
    }

    .card-content {
        justify-content: unset;
        align-items: unset;
    }

    .product-img {
        margin-top: 40px;
    }

    .product-img img {
        width: 400px;
    }

    .product-header-block {
        margin-top: 70px;
    }

    .product-icon {
        width: 60px;
        margin-top: 0;

    }

    .icon-vegan {
        margin-right: 20px;
    }

    .product-description {
        margin-top: 25px;

    }

    .product-description p {
        font-size: 1.25rem;
        line-height: 150%;
    }

    .bulletpoint-text {
        font-size: 1.125rem;
        line-height: 150%;
    }

    .single-bulletpoint {
        width: 1.5rem;
        margin-right: 0.938rem;
    }

    .single-hero-mb {
        margin-bottom: 40px;
    }

    div.yotpo {
        padding-top: 12px;
    }

    .yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star {
        font-size: 22px;
    }

    .yotpo-bottomline.pull-left.star-clickable {
        align-items: center;
        float: left;
    }

    .yotpo .text-m {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        text-decoration: underline !important;
        color: #505050;
        margin-left: 15px;
    }

    .bundle-heading {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 1.75rem;
        line-height: 150%;
        color: #1D2E42;
        margin-top: 2.188rem;
        margin-bottom: 2.563rem;
        text-align: left;
    }

    .selected-opcija {
        border: 2px solid #4F4B91 !important;
        background: #F6F8FE !important;
    }

    /* .add-to-cart-card {*/
    /*    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);*/
    /*}*/

    .add-to-cart-card {
        border: 2px solid #C6CDE4;
        box-sizing: border-box;
        border-radius: 20px;
        height: 100%;
        position: relative;
    }

    .badge-container img {
        width: 68px;
    }

    .card-content {
        padding: 16px 9px 25px 20px;
    }

    .opcijas .col-12:not(:first-of-type) .card-content {
        padding: 16px 3px 30px 20px;
    }

    .best-value p {
        font-family: 'Dosis';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 170%;
        text-transform: capitalize;
        color: #FFFFFF;
        margin: 0;
        padding: 7px 22px 8px 20px;
    }

    .best-value {
        background: #12635F;
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
        clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
        position: absolute;
        top: -19px;
        left: -11px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px 0 0 0;
    }

    .opcijas .col-12:first-of-type .add-to-cart-card::after {
        content: "";
        display: block;
        width: 11px;
        height: 9px;
        background: #3B8581;
        /* transform: rotate(141.09deg); */
        position: absolute;
        left: -11px;
        top: 16px;
        clip-path: polygon(0 0, 100% 0, 100% 100%);
    }

    .container {
        max-width: 1240px;
    }

    .card-quantity {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 150%;
        color: #1D2E42;
        margin-bottom: 10px;
        float: unset;
    }

    .card-ppp {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 150%;
        color: #1D2E42;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .card-ppp span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 150%;
        color: #1D2E42;
        text-decoration: none;
        vertical-align: 20%;
    }

    .card-total {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 0.938rem;
        line-height: 150%;
        color: #445764;
        margin: 0;
    }

    .add-to-cart-card form {
        padding: 0px 20px;
    }

    .btn-add-to-cart {
        margin-bottom: 25px;
        background: #4F4B91;
        border-radius: 15px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 1.063rem;
        line-height: normal;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 100%;
        padding: 17px 0;
    }

    .btn-add-to-cart:hover {
        color: #FFFFFF;
        transform: scale(1.05);
    }
}
