.how-bg {
   padding-top: 50px;
   padding-bottom: 50px;
   position: relative;
    min-height: 645px;
}

.how-products {
    gap: 2.75rem;
}

@media screen and (min-width: 391px) {
    .how-products {
        gap: 4.5rem;
    }
}


.how-svg-1 {
    position: absolute;
    height: 100%;
    padding: 0 2.875rem 0 4.375rem;
    z-index: 1;
}

.how-svg-2 {
    position: absolute;
    min-width: 360px;
    min-height: 519px;
    top: 38px;
    left: 0;
    z-index: 1;
}

.how-title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    font-size:18px;
    line-height: 31px;
    font-weight: 700;
    margin-bottom: 0;
    color: white;
    padding-bottom: 25px;
}
.how-subtitle {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin-top: 5px;
}
.how-text {
    color: white;
    font-size: 14px;
    line-height: 24px;
    margin-top: 1px;
}
.how-icon {
    width: 110px;
    z-index: 2;
}
@media screen and (min-width: 992px) {
    .how-bg {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .how-products {
        gap: 0;
    }

    .max-w-30 {
        max-width: 30%;
    }


    .px-20 {
        padding: 0 20px;
    }

    .how-svg-1 {
        top: 4.188rem;
        width: 100%;
    }

    .how-svg-2 {
        top: 4.188rem;
        width: 100%;
    }
    .how-title {
        max-width: 30%;
        font-size:24px;
        line-height: 41px;
        padding-bottom: 63px;
    }
    .how-subtitle {
        font-size: 18px;
        line-height: 27px;
        margin-top: 7px;

    }
    .how-text {
        font-size: 16px;
        line-height: 27px;
        margin-top: 7px;
    }
    .how-icon {
        width: 160px;
    }
}
