.title {
  font-family: 'Montserrat', sans-serif;
}

.owl-stage {
  padding-bottom: 5px;
}
.collection .grid__item:only-child {
  max-width: 100% !important;
}
.owl-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 30%;
  z-index: 2;
  transform: translateY(-50%);
}
.carousel-arrow-img {
  height: 28px;
}
.owl-prev,
.owl-next {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: none;
  background: #FFFFFF;
  border-radius: 5px;
}

.owl-nav button {
  background: white;
}

.owl-nav span {
  font-size: 48px;
}

.collection-nav {
  display: none;
}

.customNextBtnReview {
  padding: 11px 17px 11px 20px;
  margin-left: 7px;

}

.customPrevBtnReview {
  margin-right: 7px;
  padding: 11px 20px 11px 17px
}

@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 90%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description>* {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}


.collection-title {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 40px;
}

.collection-title h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 170%;
  color: #505050;
  margin: 0;
}

.grid-section {
  padding-bottom: 15px;
}

.product-grid {
  padding: 0;
  margin: 0;
}

.grid__item {
  list-style: none;
  margin-bottom: 30px;
}

@media screen and (max-width:768px) {
  .collection-title {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .collection-title h2 {
    font-size: 18px;
    line-height: 27px;
  }

  #section-collection-grid .container {
    padding: 0 15px;
  }

  .grid-section {
    padding-bottom: 30px;
  }

  .product-grid {
    padding: 0;
    margin: 0;
  }

  .grid__item {
    list-style: none;
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
  }

  #product-grid .grid__item:last-of-type {
    margin-bottom: 0;
  }

}
